<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Букетная мастерская "Мята"</title>
    <link rel="stylesheet" href="../static/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <header>
        {%if users %}
        <nav class="navbar bg-body-tertiary">
        <form class="container-fluid justify-content-start">
            <a href="{%url 'logout' %}"><button class="btn btn-outline-success me-2" type="button">Выйти</button></a>
            
        </form>
        </nav>
        {%else%}
        
        <nav class="navbar bg-body-tertiary">
        <form class="container-fluid justify-content-start">
            <a href="{%url 'register' %}"><button class="btn btn-outline-success me-2" type="button">Зарегестрироваться</button></a>
            <a href="{%url 'auth' %}"><button class="ml-10 btn btn-outline-success me-2" type="button">Войти</button></a>
        </form>
        </nav>
        {%endif%}
    </header>
    {% block body %}{% endblock body %}
    <script src="../static/js/bootstrap.min.js">
    </script>
</body>
</html>

