{%extends "web/layout.html"%}

{%block body%}

    <div class="container">
  <!-- Content here -->
        <img src="../static/images/about.jpg" alt="">
        <p class="text">Каким бы ни был праздник, наши цветы сделают его особенным!</p>
        <p class="text">Доставка цветов на любой праздник
Наша цветочная служба – это уникальная синергия флористов и цветоводов: подбираем лучшие плантации, правильно храним каждый бутон, красиво оформляем ваш заказ.

У нас есть европейские, американские и российские цветы – выбирайте по типу, составу, размеру, форме и цене. Мы сделали так, чтобы вам было очень удобно заказывать на сайте:

На выбор как классические, так и современные букеты с кустовыми розами, хризантемами, тюльпанами, лилиями, пионами, эвкалиптом и т.д.
Можно упаковать на ваш вкус: в фольгу, крафт, коробку, просто перевязать лентой и т.д.
Размер букета указан в карточке товара, заказ оформляется за 1-2 клика.
У нас точно есть то, что понравится вашим близким, коллегам, партнерам и просто хорошим людям.</p>
        <p class="text">Преимущества

Онлайн-каталог авторских букетов от 2500 руб.
Красивые, стильные, современные букеты, выполненные только из свежих цветов!

Бесплатная круглосуточная доставка в течение 3-х часов по Саратову
Цена уже включает в себя итоговую стоимость ВСЕХ наших услуг. Принимаем заказы в любое время: утром, днем и даже ночью.

Бесплатная упаковка всех букетов
Никаких дополнительных платежей за оформление. Услуги флориста – полностью бесплатные.

Фото перед доставкой и информация о статусе заказа
Отправим фотографию готового букета на e-mail, Viber, WhatsApp, Telegram, VK, Instagram или Одноклассники.

Гарантия свежести или возврат
Если не понравится букет, мы заменим его бесплатно. Сообщите об этом в течение 2-х часов после доставки.

Скидка 10% после первого заказа
Продолжаем следовать своей традиции: при повторном заказе в течение суток вы получите скидку 10%!</p>
<img src="../static/images/map.png" alt="">
    </div>
    
{%endblock%}